#Useless MAC junk
.DS_Store

#All folders in here
/.eggs
/metallica/*
/queen/*
/rihanna/*
/shakira/*
/pink/*
/u2/*
/travis/*
/slipknot/*
/britney-spears/*
/__pycache__/*
/.pytest_cache/*
/Lyrics_Classifier/__pycache__/*

#CSV files
/*.csv
#Except Eric Clapton as test data
#Except pink to demonstrate merge_df works
!/eric-clapton.csv
!/pink.csv

#To_DO
/to-do.txt
