language: python
python:
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install codecov
  - python -m spacy download en_core_web_sm
  - pip install -e .
# command to run tests
script:
- pytest --cov=./

after_success:
    - codecov
